// Colors
$color-dark-blue: #3019B2;
$color-blue: #3442B5;
$color-yellow: #F7CA11;
$color-purple: #271C47;
$color-gray-light: #9F9F9F;
$color-gray-medium: #4E4E4E;
$color-gray-dark: #3F3F40;
$color-white: #FFFFFF;

// Typography
$font-family-primary: 'Poppins', sans-serif;
$font-family-secondary: 'Work Sans', sans-serif;
$font-family-tertiary: 'Outfit', sans-serif;

// Layout
$container-width: 1280px;

//Breakpoints
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1536px;