@use '../../styles/variables' as *;

.product-carousel {
    &__carousel {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.9375rem;
    }

    &__viewport {
        width: 100%;
        max-width: 1310px;
        padding: 1.5rem 1.25rem;
        overflow: hidden;
    }

    &__track {
        display: flex;
        gap: 1.125rem;
        transition: transform 400ms ease;
    }

    &__item {
        flex: 0 0 19rem;
        opacity: 0;
        transition: opacity 400ms ease;
    }

    &__item--visible {
        opacity: 1;
    }

    &__arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 2rem;
        background-color: $color-white;
        border-radius: 50%;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }

    &__arrow--disabled {
        background-color: #F6F5F2;
        box-shadow: none;
        pointer-events: none;
    }
}